<form action="/todos/{{todo.id}}?_method=PUT" method="POST">
  <input type="text" placeholder="please input name" name="name" value="{{todo.name}}">
  <button type="submit">Save</button>
  <a href="/todos">back</a>
</form>