<p>{{todo.name}}</p>
<a href="/todos/{{todo.id}}/edit">edit</a>
<a href="/todos">back</a>
<form action="/todos/{{todo.id}}?_method=DELETE" method="POST" style="display: inline;">
  <button type="submit">delete</button>
</form>